## Home
{% if home %}
  {% if home.property %}
- **Property Details**:
  {% if home.property.type %}- Type: {{ home.property.type }}{% endif %}
  {% if home.property.style %}- Style: {{ home.property.style }}{% endif %}
  {% if home.property.size %}- Size: {{ home.property.size }}{% endif %}
  {% if home.property.year_built %}- Year Built: {{ home.property.year_built }}{% endif %}
  {% if home.property.purchase_date %}- Purchased: {{ home.property.purchase_date }}{% endif %}
  {% if home.property.address %}
  - Address:
    {% if home.property.address.street %}- Street: {{ home.property.address.street }}{% endif %}
    {% if home.property.address.city %}- City: {{ home.property.address.city }}{% endif %}
    {% if home.property.address.state %}- State: {{ home.property.address.state }}{% endif %}
    {% if home.property.address.zip %}- ZIP: {{ home.property.address.zip }}{% endif %}
    {% if home.property.address.country %}- Country: {{ home.property.address.country }}{% endif %}
  {% endif %}
  {% endif %}

  {% if home.mortgage %}
- **Mortgage Information**:
  {% if home.mortgage.lender %}- Lender: {{ home.mortgage.lender }}{% endif %}
  {% if home.mortgage.term %}- Term: {{ home.mortgage.term }}{% endif %}
  {% if home.mortgage.rate %}- Interest Rate: {{ home.mortgage.rate }}{% endif %}
  {% if home.mortgage.start_date %}- Start Date: {{ home.mortgage.start_date }}{% endif %}
  {% endif %}

  {% if home.maintenance %}
- **Maintenance Services**:
  {% for service in home.maintenance %}
  - {{ service.service }}
    {% if service.provider %}- Provider: {{ service.provider }}{% endif %}
    {% if service.schedule %}- Schedule: {{ service.schedule }}{% endif %}
    {% if service.phone %}- Phone: {{ service.phone }}{% endif %}
    {% if service.last_service %}- Last Service: {{ service.last_service }}{% endif %}
    {% if service.next_service %}- Next Service: {{ service.next_service }}{% endif %}
  {% endfor %}
  {% endif %}

  {% if home.smart_home %}
- **Smart Home Devices**:
  {% for device in home.smart_home %}
  - {{ device.device }}
    {% if device.location %}- Location: {{ device.location }}{% endif %}
    {% if device.installed_date %}- Installed: {{ device.installed_date }}{% endif %}
  {% endfor %}
  {% endif %}
{% endif %}